body {
    background-color: #de70bd;
    background-image: url("../images/fondo-ondas.svg");
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #283039;
}

.contenedor {
    margin: 0 auto;
}

#btnSilenciar {
    width: 39px;
    height: 39px;
    background-color: transparent;



}

#imgSonido {
    display: block;
    margin: 21px 0 0 15px;
}


.contenedor-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.logo {
    width: 77%;
    margin-top: 0;

}

.contenedor-boton-jugar,
.contenedor-boton-jugar a,
.boton-jugar {
    width: 100%;

}

.contenedor-boton-jugar {
    display: flex;
    justify-content: center;
    animation: latido 1.5s ease-in-out infinite forwards;
    margin-top: 200px;
}

.zona-no-jugable {
    display: flex;
    justify-content: space-between;
    margin: 35px
}

.temporizador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #e7f0be;
    border-radius: 50px;
    font-weight: 900;
    font-size: 25px;
    border-color: #283039;
    border-style: solid;
}

.contenedor-puntos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    text-transform: uppercase;
    gap:5px;

}

h3 {
    font-size: 20.5px;
    font-weight: 800;
    color: #283039;
    border-bottom: 1px solid #283039 ;
}

.puntos {
    display: flex;
    flex-direction: column;
    background-color: #e7f0be;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-color: #283039;
    border-style: solid;
    width: 100%;
    padding:15px 5px;
    gap:5px;

}


.btn-reiniciar {
    background-color: #DE70BF;

    width: 100%;
    border-radius: 18px;
    border-style: solid;
    border-color: #283039;
    font-weight: 900;
    text-align: center;
    padding:2px 0;
    font-size: 17px;
}

h3,
.puntos p {
    margin: 0;
}


.puntos p {
    font-weight: 600;
    font-size: 12.39px;
}

.puntos span {
    font-weight: 400;
}

.zona-jugable {
    position: relative;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

.caparazones {
    margin-top: 20%;
}

.caparazon {
    position: absolute;
    width: 32%;
    transition: left 1.5s ease;
}

.caparazon img {
    position: absolute;
    animation: nombre 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.caparazon:nth-child(1) {
    left: 0%;
}

.caparazon:nth-child(2) {
    left: 34%;
}

.caparazon:nth-child(3) {
    left: 68%;
}

#pelotita {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#pelotita div {
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #E7F0BE;
    z-index: -1;
}

#btnRejugar {
    background-image: url(../images/volver-jugar-boton.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 42%;
    min-width: 280px;
    aspect-ratio: 1 / 0.35;
    display: block;
    margin: 50% auto 15% auto;
    border: none;
    cursor: pointer;
}

#btnRejugar:disabled {
    cursor: initial;
    opacity: 60%;
}

footer {
    text-align: center;
    color: #E7F0BE;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes levantar {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-70%);
    }
}

@keyframes bajar {
    0% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes darPista {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes latido {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes deslizar-izquierda {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}