html, body {
    min-height: 100%;
}
body {
    background-color: #de70bd;
    background-image: url("../images/fondo-ondas-y-puntos.svg");
    font-family: "Poppins", sans-serif;
    background-size: 430%;
    background-repeat: no-repeat;
    background-position: center;
    color: #283039;
    background-attachment: fixed;
}

.contenedor {
    margin: 0 auto;
}

.borde {
    border: 3px solid #283039;
}

#btnSilenciar {
    width: 39px;
    height: 39px;
    background-color: transparent;
}

#imgSonido {
    display: block;
    margin: 30px 0 0 15px;
}

.contenedor-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.logo {
    width: 75%;
    margin-top: 0;
}

.contenedor-boton-jugar {
    width: 90%;
    max-width: 501px;
    animation: latido 1.5s ease-in-out infinite forwards;
    margin-top: 200px;
}

.contenedor-boton-jugar a,
.boton-jugar {
    width: 100%;
}

#juego {
    display: none;
    opacity: 0;
	animation: animacion 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

.zona-no-jugable {
    display: flex;
    justify-content: space-between;
    margin:35px 35px 0 35px;
}

.temporizador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 3px;
    background-color: #e7f0be;
    border-radius: 50%;
    font-weight: 900;
    font-size: 25px;
}

.contenedor-puntos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    text-transform: uppercase;
    gap:5px;
}

h3 {
    font-size: 20.5px;
    font-weight: 800;
    color: #283039;
    border-bottom: 1px solid #283039;
    margin-bottom: 2px;
}

.puntos {
    display: flex;
    flex-direction: column;
    background-color: #e7f0be;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 117px;
    height: 104px;
    gap:3px;
}


.btn-reiniciar {
    background-color: #DE70BF;
    width: 117px;
    border-radius: 18px;
    font-weight: 900;
    text-align: center;
    padding:3px 0;
    font-size: 17px;
    cursor: pointer;
}

h3,
.puntos p {
    margin: 0;
}

.puntos p {
    font-weight: 600;
    font-size: 12.39px;
}

.puntos span {
    font-weight: 400;
}

.zona-jugable {
    position: relative;
    padding-top: 50px;
    width: 100%;
    overflow: hidden;
}

.caparazones {
    margin-top: 20%;
    display: flex;
}

.caparazon {
    position: absolute;
    width: 45%;
    transition: left 1.5s ease;
}

.caparazon img {
    position: absolute;
    animation: nombre 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.caparazon:nth-child(1) {
    left: -2%;
}

.caparazon:nth-child(2) {
    left: 28%;
}

.caparazon:nth-child(3) {
    left: 58%;
}

#pelotita {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#pelotita div {
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #E7F0BE;
    z-index: -1;
}

#btnRejugar {
    background-image: url(../images/volver-jugar-boton.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 42%;
    min-width: 280px;
    aspect-ratio: 1 / 0.35;
    display: block;
    margin: 50% auto 15% auto;
    border: none;
    cursor: pointer;
}

#btnRejugar:disabled {
    cursor: initial;
    opacity: 60%;
}

footer {
    width: 100%;
    text-align: center;
    color: #E7F0BE;
    text-transform: uppercase;
    bottom: 0;
    position: absolute;
}

@keyframes levantar {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-70%);
    }
}

@keyframes bajar {
    0% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes darPista {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes latido {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes deslizar-izquierda {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
