body {
    background-color: #de70bd;
    background-image: url("../images/fondo-ondas.svg");
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedor {
    margin: 0 auto;

}
#btnSilenciar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border:1px solid #F18054 ;
    
}

.contenedor-logo {
    display: flex;
    justify-content: center;

}

.logo {
    width: 250px;
    height: 80px;
    margin-top: 40px;


}

.boton-jugar {

    width: 200px;
    height: 150px;
}


.contenedor-boton-jugar{
  display: flex;
  justify-content: center;
  animation: latido 1.5s ease-in-out infinite forwards;
}

.temporizador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: #e7f0be;
    border-radius: 50px;
    font-weight: 800;
    font-size: 25px;
    margin-left: 30px;
    border-color: black;
    border-style: solid;
    color: black
}

.contenedor-puntos {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    background-color: #e7f0be;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    margin-right: 45px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    color: #283039;

}


.boton-reiniciar {
    display: flex;
    justify-content: space-around;

    background-color: #DE70BF;
    color: #283039;
    width: 90px;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    font-weight: 800;
}

.zona-jugable {
    position: relative;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

.caparazones {
    margin-top: 20%;
}

.caparazon {
    position: absolute;
    width: 32%;
    transition: left 1.5s ease;
}

.caparazon img {
    position: absolute;
    animation: nombre 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.caparazon:nth-child(1) {
    left: 0%;
}

.caparazon:nth-child(2) {
    left: 34%;
}

.caparazon:nth-child(3) {
    left: 68%;
}

#pelotita {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#pelotita div {
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #E7F0BE;
    z-index: -1;
}

#btnRejugar {
    display: block;
    margin: 50% auto 15% auto;
    background-color: #E7F0BE;
    border: none;
    padding: 10px;
    color: #283039;
    cursor: pointer;
}

#btnRejugar:disabled {
    cursor: initial;
    opacity: 60%;
}

.footer {
    display: flex;
    justify-content: center;
    color: #E7F0BE;
}


@keyframes levantar {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-70%);
    }

}

@keyframes bajar {
    0% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes darPista {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(0%);
    }

}

@keyframes latido {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes deslizar-izquierda {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}