@media screen and (min-width: 867px) {
  .boton-jugar {

        width: 501px;
        height: 246px;
    }
    
    .contenedor {
        max-width: 800px;
        margin: 0 auto;
    }

    #pelotita {
        top: 100px;
    }


}